<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >

  <title>Home</title>


  </head>

  <body>
        {% include 'navbar_private.html' %}

    <main>

      <h1>Welcome to FoodFriend!</h1>
        <p>If you'd like to sign in, you can do so <a href="login">here</a>. Lots of the buttons up top will redirect you to the login screen repeatedly until signing in.</p>
        <p>View a recipe <a href="recipe/1">here.</a> You don't need to be logged in to do that!</p>
    </main>



    <script src="{{ url_for('static', filename='scripts.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='login-auth.js') }}" type="module"></script>
  </body>

</html>
