<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Profile</title>

    </head>
  <body>
    {% include 'navbar_private.html' %}
    <main>
    <h1>Profile</h1>
        <div>
            <label>Change email:</label>
            <input type="text" id="emailChangeInput" />
            <button type="button" id="changeEmail">Add</button>
        </div>

        <div>
            <label>Change name:</label>
            <input type="text" id="nameChangeInput" />
            <button type="button" id="changeName">Add</button>
        </div>

        <div id="delete-account-div">
          <h2>Account Deletion</h2>
          <p>If you wish to delete your account, please click the button below:</p>
          <button type="button">Delete Account</button>
          <p class="warning">This action is irreversible.</p>
        </div>
      
        <div id="deletion-confirmation-div" style="display: none;">
          <form>
              <h2>Confirm account deletion</h2>
              <span>
                  <button id="confirm-delete-btn" style="background-color: red;">Delete Account</button>
                  <button id="deletion-cancel-btn">Cancel</button>
              </span>
          </form>
        </div>
    </main>
0
    <script src="../static/delete-account.js"></script>
  </body>
</html>
