<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Settings</title>
  </head>
  <body>
    {% include 'navbar_private.html' %}
    <main>
      <h1>Settings</h1>
      <form id="foodPreferencesForm">
        <div>
          <label>Excluded Cuisine:</label>
          <input type="text" id="excludedCuisineInput" />
          <button type="button" id="addCuisine">Add</button>
          <ul class="exclusionList" id="excludedCuisineList"></ul>
        </div>

        <div>
          <label>Excluded Ingredient:</label>
          <input type="text" id="excludedIngredientInput" />
          <button type="button" id="addIngredient">Add</button>
          <ul class="exclusionList" id="excludedIngredientList"></ul>
        </div>

        <div>
          <label>Intolerances:</label>
          <input type="text" id="intoleranceInput" />
          <button type="button" id="addIntolerance">Add</button>
          <ul class="exclusionList" id="intoleranceList"></ul>
        </div>

        <div>
          <label>Diet:</label>
          <input type="text" id="dietInput" placeholder="e.g. vegan, paleo" />
          <button type="button" id="addDiet">Add</button>
          <ul class="exclusionList" id="dietList"></ul>
        </div>

        <div>
          <label>Max Sugar (grams):</label>
          <input type="number" id="maxSugar" name="maxSugar" />
        </div>

        <button type="submit">Submit</button>
      </form>
    </main>
    <script>
      //this shows errors but works 
      const savedPreferences = {{preferences|tojson}};
    </script>
    <script src="../static/dietary_preference.js"></script>
  </body>
</html>
